<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>post로 정보 받기</h1>
    <!--method get, post 잘 구별하기-->
    <form action="/practiceForm27" name="get" method="post">
      <!--제출하면 practiceForm으로 연결-->
      <label for="id">
        이름
        <input id="id" name="id" required /><br />
      </label>
      <fieldset>
        <legend>성별</legend>
        <input name="sex" value="남자" type="radio" /> 남자
        <input name="sex" value="여자" type="radio" /> 여자<br />
      </fieldset>
      <fieldset>
        <legend>생년월일</legend>
        <select name="date">
          <% for(let i =2023; i>=2010; i--){%>
          <option value="<%=i%>년"><%=i%></option>
          <%}%>
        </select>
        <span>년</span>
        <select name="date">
          <% for(let i =1; i<=12; i++){%>
          <option value="<%=i%>월"><%=i%></option>
          <%}%>
        </select>
        <span>월</span>
        <select name="date">
          <!--반복문으로 만들기-->
          <% for(let i =1; i<=31; i++){%>
          <option value="<%=i%>일"><%=i%></option>
          <%}%>
        </select>
        <span>일</span>
      </fieldset>
      <fieldset>
        <legend>관심사</legend>
        <input type="checkbox" name="like" value="여행" />여행
        <input type="checkbox" name="like" value="패션" />패션
        <input type="checkbox" name="like" value="음식" />음식<br />
      </fieldset>
      <fieldset>
        <legend>선택</legend>
        <label for="color">좋아하는 색상</label>
        <input type="color" name="color" value="색이름 알아서 들어감" /><br />
        좋아하는 숫자
        <input type="number" name="number" value="입력한숫자 알아서 들어감" />
      </fieldset>
      <button type="submit">회원가입</button>
    </form>
  </body>
</html>
